body {
  padding-top: 70px;
}

.navbar {
  width: 100%;
  background: #0f172a; 
  padding: 12px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: fixed;  
  top: 0;
  left: 0;
  right: 0;

  border-bottom: 1px solid #1e293b;
  z-index: 1000;
}

.left {
  display: flex;
  align-items: center;
  gap: 12px;
}

.title {
  margin: 0;
  color: #e5e7eb; 
  font-size: 18px;
  font-weight: 600;
}

.subtitle {
  margin: 0;
  color: #9ca3af;
  font-size: 12px;
}

.icons {
  display: flex;
  align-items: center;
  gap: 18px;
}
